.element {
  position: relative;
  width: 402px;
  height: 874px;
  background-color: var(--variable-collection);
}

.element .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;
  height: 70px;
  aspect-ratio: 1;
  object-fit: cover;
}

.element .rectangle {
  position: absolute;
  top: 90px;
  left: 0;
  width: 402px;
  height: 784px;
  background-color: #d9d9d9;
}

.element .group {
  position: absolute;
  top: 299px;
  left: calc(50.00% - 175px);
  width: 354px;
  height: 275px;
}

.element .div {
  position: absolute;
  top: 0;
  left: calc(50.00% - 177px);
  width: 350px;
  height: 275px;
  background-color: var(--variable-collection);
  border-radius: 20px;
}

.element .text-wrapper {
  position: absolute;
  top: 110px;
  left: calc(50.00% - 64px);
  font-family: "Freesentation-7Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 42px;
  text-align: center;
  white-space: nowrap;
}

.element .p {
  position: absolute;
  top: 153px;
  left: calc(50.00% - 94px);
  font-family: "Freesentation-5Medium", Helvetica;
  font-weight: 500;
  color: #00000080;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
}

.element .group-2 {
  position: absolute;
  top: 35px;
  left: 145px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(172, 237, 213, 0.5) 0%,
    rgba(119, 227, 187, 0.5) 100%
  );
}

.element .hugeicons-loading {
  position: absolute;
  top: 45px;
  left: 155px;
  width: 40px;
  height: 40px;
  display: flex;
  aspect-ratio: 1;
}

.element .vector {
  flex: 1;
  width: 30px;
}

.element .frame {
  display: flex;
  width: 289px;
  height: 49px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 191px;
  left: calc(50.00% - 146px);
  background-color: #08b980;
  border-radius: 13px;
  border: 0.5px solid;
  border-color: #edeff3;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Freesentation-7Bold", Helvetica;
  font-weight: 700;
  color: #fcfdfc;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 21.6px;
  text-align: center;
  white-space: nowrap;
}
